{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <title>Lista de Registros</title>
</head>
<body id="bg" style="background-image:url('{% static 'img/fondo8.jpg' %}');">
    
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-md-12 mt-4">
                <h2>Lista de Registros</h2>
                <hr />
            </div>
            {% for row in data %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-4"> <!-- Cambiamos a 4 columnas para un mejor diseño -->
                <div class="card text-center p-4">
                    <!-- Mostramos el nombre del archivo -->
                    {% if row.documento %}
                    <div class="mb-3"> <!-- Agregamos margen inferior -->
                        <a href="{{ row.documento.url }}" target="_blank">Nombre del archivo: {{ row.documento.name }}</a>
                    </div>
                    {% endif %}
                    <!-- Agregamos el botón de eliminar debajo del contenido -->
                    <form action="{% url 'borrar_registro' row.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mb-2">Eliminar</button> <!-- Agregamos margen inferior -->
                    </form>
                </div>
            </div>
            {% endfor %}
            <!-- Agregamos un mensaje si no hay registros -->
            {% if data.count == 0 %}
            <div class="col-md-12">
                <p>No hay Registros.</p>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
